.jumbotron {
  background-color: #0da7b3;
  color: black;
  margin-top: 70px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #c1c78d;
  margin-top: 50px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }
